@import "variable";
.section-heading {
    max-width: 613px;
}
.row-gap-60px {
    row-gap: 60px;
    margin: 0 -16px !important;
    @media (max-width: 991px) {
        row-gap: 30px;
        margin: 0 -8px !important;
    }
    @media (max-width: 575px) {
        row-gap: 16px;
        margin: 0 -4px !important;
    }
}
.types-offer-section {
    .pt-80 {
        @media (max-width: 575px) {
            padding-top: 24px !important;
        }
    }
    .offer-product-slider {
        margin-left: -10px;
        margin-right: -10px;
        @media (max-width: 575px) {
            margin-left: -5px;
            margin-right: -5px;
        }
        .slick-dots {
            bottom: -35px !important;
        }
        .slick-slide {
            padding: 0 10px !important;
            @media (max-width: 575px) {
                padding: 0 5px !important;
            }
        }
        .offer-card {
            border-radius: 12px;
            .offer-img {
                max-height: 267px;
                aspect-ratio: 1.1797;
                border-radius: 12px 12px 0px 0px;
                img {
                    border-radius: 12px 12px 0px 0px;
                    aspect-ratio: 1.1797;
                }
            }
            .offer-content {
                padding: 37px 25px;
                @media (max-width: 991px) {
                    padding: 20px 14px;
                }
                p {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    min-height: 72px;
                    @media (max-width: 991px) {
                        min-height: 60px;
                    }
                    @media (max-width: 575px) {
                        min-height: 45px;
                    }
                }
            }
        }
    }
}
.categories-section {
    .categorie-img {
        aspect-ratio: 1.8309;
        max-height: 355px;
        border-radius: 12px;
        @media (max-width: 575px) {
            max-width: calc(100% - 40px);
        }
        img {
            aspect-ratio: 1.8309;
            max-height: 355px;
            border-radius: 12px;
        }
    }
    .categories-slider-section {
        background-color: $black-200;
        border-radius: 20px;
        padding: 43px 30px 64px 30px;
        margin-left: -10px;
        margin-right: -10px;
        @media (max-width: 991px) {
            padding: 30px 10px;
            border-radius: 6px;
        }

        .arrow-box {
            width: 44px;
            height: 44px;
            background-color: #0f0e0e;
            cursor: pointer;
            z-index: 2;
            margin-top: -44px;
            @media (max-width: 575px) {
                width: 22px;
                height: 22px;
                margin-top: -22px;
                svg {
                    width: 6px;
                }
            }
        }
        .categories-count {
            @media (max-width: 991px) {
                img {
                    width: 24px;
                    height: 44px;
                }
            }
            @media (max-width: 575px) {
                img {
                    width: 7px;
                    height: 22px;
                }
            }
        }
        .categories-content {
            max-width: 528px;
            margin-top: 58px;
            @media (max-width: 991px) {
                margin-top: 25px;
            }
            h3 {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
            }
            p {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                overflow: hidden;
                min-height: 96px;
                @media (max-width: 575px) {
                    min-height: 120px;
                    -webkit-line-clamp: 8;
                }
            }
        }
        .slick-slide {
            padding: 0 10px;
        }
        .categories-slider-img {
            aspect-ratio: 1.366;
            max-height: 448px;
            border-radius: 20px;
            margin-top: 21px;
            img {
                border-radius: 20px;
            }
            @media (max-width: 991px) {
                aspect-ratio: 0.5857;
                min-height: 239px;
                max-height: 239px;
                margin-top: 0px;
                border-radius: 6px;
                img {
                    aspect-ratio: 0.5857;
                    border-radius: 6px;
                }
            }
        }
    }
}
// vision-section
.vision-section {
    .section-heading {
        max-width: 676px !important;
    }
    .vision-text {
        max-width: 1153px;
    }
    .vision-card {
        box-shadow: 0px 4px 14px 2px #1f28300d;
        border-radius: 10px;
        @media (max-width: 575px) {
            border-radius: 6px;
        }
        .vision-img {
            max-height: 255px;
            aspect-ratio: 1.596;
        }
        .vision-content {
            padding: 30px;
            @media (max-width: 991px) {
                padding: 20px;
            }
            @media (max-width: 575px) {
                padding: 20px;
            }
        }
    }
}
.stands-section {
    .stands-row {
        border-radius: 16px;
    }
    .choose-img {
        aspect-ratio: 1.1527;
        max-height: 419px;
        border-radius: 16px;
        img {
            border-radius: 16px;
            aspect-ratio: 1.1527;
        }
        @media (max-width: 991px) {
            border-radius: 8px 8px 0px 0px;
            max-width: 100%;
            img {
                border-radius: 8px 8px 0px 0px;
            }
        }
    }
}
// to-gethere-section
.ready-section {
    background-image: url("../images/together-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 121px 12px;
    max-width: 1320px;
    border-radius: 16px;
    @media (max-width: 1319px) {
        border-radius: 0px;
    }
    .section-heading {
        max-width: 900px;
    }
    @media (max-width: 991px) {
        padding: 40px 12px;
        background-size: auto;
    }
    .btn-primary-bg {
        @media (max-width: 575px) {
            padding: 10px 38px !important;
        }
    }
}
