$white: #ffffff !default;
$primary:#6D7D7D !default;
$white-500:#ffffff80 !default;
$gray-600:#CECECE !default;
$black:#000000 !default;
$black-100:#0A090F !default;
$gray:#BABABA !default;
$black-200:#353534 !default;